/*  Headers */

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-Size: 48px;
}

/* Text */

.copy {
    font-family: 'Open Sans', sans-serif;
    font-Size: 16px;
}

/* Images */


/* Colors */

